@media (max-width:600px) {
    nav .navwrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 85%;
        margin: 0 auto;
        padding: 15px 0;
        background-color: #FFC244;
        
      }
    nav .navwrapper .glovo-img img {
        height: 20px;
      }
    
    
}